<h1>New timing</h1>

<% form_for(@timing) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :run_time %><br />
    <%= f.text_field :run_time %>
  </p>
  <p>
    <%= f.label :browser %><br />
    <%= f.text_field :browser %>
  </p>
  <p>
    <%= f.label :tags %><br />
    <%= f.text_field :tags %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', timings_path %>