<div align="right"><%= link_to 'Metrics', failures_path %> | <%= link_to 'Logout', logout_path %></div>
  <h1>Watircuke Results</h1>
  
  <div id="results">
    
    <br/><br/>
<table>
  <tr>
    <th>When?</th>
    <th>File</th>
    <th>Comment</th>
  </tr>
<% @results.each do |result| %>
  <tr class="<%= cycle("even", "odd") -%>">
    <td><%=h result.created_at.strftime("%A " + "at %I:%M%p") %> ** </td>
    <td><i><%=link_to(truncate(result.title, :length => 100), edit_result_path(result)) %></i></td>
    <td><i><%=h (result.comment) %></i></td>
  </tr>
<% end %>
</table>
<br/><br/>

</div>