<h1>Editing iteration</h1>

<% form_for(@iteration) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :default %><br />
    <%= f.check_box :default %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @iteration %> |
<%= link_to 'Back', iterations_path %>