<table class="manual_steps">
  <tr>
    <th width="5%"></th>
    <th width="15%" align="left">Tag</th>
    <th width="5%" align="left">Jira</th>
    <th width="75%" align="left">Scenario</th>
    <th width="5%"></th>
  </tr>
  <% @manuals_untested.each do |manual| %>
    <% if manual.bug.blank? %>
      <tr>
      <td width="5%"></td>
      <td width="15%"><%= link_to(manual.tag.name, tags_path)  %></td>
      <td width="5%" align="left"><% unless manual.jira.blank? %><%= link_to(manual.jira, edit_manual_path(manual)) %><% end %></td>
      <td width="75%"><%= link_to(manual.scenario, edit_manual_path(manual)) %></td>
      <td width="75"></td>
      </tr>
    <% else %>
      <tr class="bold-text">
      <td align="center" width="5%" class="bug"><%= link_to image_tag('/images/bug.png', :border => 0, :height => 21, :width => 21), edit_manual_path(manual) %></td>
      <td width="15%"><%= link_to(manual.tag.name, tags_path) %></td>
      <td width="5%" align="left"><% unless manual.jira.blank? %><%= link_to(manual.jira, edit_manual_path(manual)) %><% end %></td>
      <td width="75%" bordercolor="#808080"><%= link_to(manual.scenario, edit_manual_path(manual)) %></td>
        <td width="75"></td>
      </tr>
    <% end %>
  <% end %>
</table>