
<div class="test-criteria">
<h2>Criteria</h2>
<% form_for(@manual) do |f| %>
  <%= f.error_messages %>
  <p>
    <b><a href="https://support.rollstream.com/browse/DEV-<%= @manual.jira %>" target="_blank"><%= f.label :jira %></a></b>
    <%= f.text_field :jira, :size => "3x10" %>
  </p>
  <p>*
    <%= f.label :scenario %><br />
    <%= f.text_area :scenario, :size => "60x1", :class => "mceEditor"  %>
  </p>
  <p>
  <%= f.label :tag %><br />
  <%= @tags = Tag.find(:all, :order => "name")
    collection_select(:manual, :tag_id, @tags, :id, :name, {:prompt => '*Required'}) %>
    <%= link_to(' Edit List', tags_path) %>
  </p>
  <p>
  <%= f.label :iteration %><br />
  <%= @iterations = Iteration.find(:all, :order => "title")
    collection_select(:manual, :iteration_id, @iterations, :id, :title, {:prompt => '*Required'}) %>
    <%= link_to(' Edit List', iterations_path) %>
  </p>
</div>
<br/><br/>
<div class="test-results">
  <h2>Test Results</h2>
  <p>
    <%= f.label :steps %><br />
    <%= f.text_area :steps, :size => "97x10", :class => "mceEditor"  %>
  </p>
  <p>
    <%= f.label :firefox %>
    <%= f.check_box :firefox %>
  </p>
  <p>
    <%= f.label :internet_explorer %>
    <%= f.check_box :internet_explorer %>
  </p>
  <p align="center">
    <%= f.label :test_count %>
    <%= f.text_field :count, :size => "2x10" %>
  </p>
  <p>
  <%= f.label :Pass? %>
    <% if @manual.firefox == true && @manual.internet_explorer == true || @manual.status == true %>
    <%= f.check_box :status %> <span class="info-green">(OK)</span>
    <% else %>
    <%= f.check_box :status, :disabled => true, :readonly => true %> <span class="info-red">(Must verify both FF and IE first in order to pass this Scenario.)</span>
    <% end %>
  </p>
  <p>
    <b><a href="https://support.rollstream.com/browse/DEV-<%= @manual.bug %>" target="_blank"><%= f.label :bug %></a></b>
    <%= f.text_field :bug, :size => "3x10"  %>
  </p>
</div>
  <p align="center">
    <%= f.submit 'Update' %>
    <%= link_to "Cancel", manuals_path %>
  </p>
<% end %>

<div align="center"><%= button_to ("DELETE", (@manual), :confirm => 'Are you sure?', :method => :delete) %></div>
