<h1>EDIT Manual Scenario</h1>
<%= link_to_function 'My link with obtrusive JavaScript', 'alert("Oh no!")' %>
 
<% form_for(@manual) do |f| %>
  <%= f.error_messages %>
  <p>*
    <%= f.label :scenario %><br />
    <%= f.text_area :scenario, :size => "100x5"  %>
  </p>
  <p>
    <%= f.label :bug %><br />
    <%= f.text_field :bug %>
  </p>
  <p>
  <%= f.label :tag %><br />
  <%= @tags = Tag.find(:all, :order => "name")
    collection_select(:manual, :tag_id, @tags, :id, :name, {:prompt => '*Required'}) %>
    <%= link_to(' Edit List', tags_path) %>
  </p>
  <p>
  <%= f.label :iteration %><br />
  <%= @iterations = Iteration.find(:all, :order => "title")
    collection_select(:manual, :iteration_id, @iterations, :id, :title, {:prompt => '*Required'}) %>
    <%= link_to(' Edit List', iterations_path) %>
  </p>
  <hr/>
  <p>
    <%= f.label :firefox %>
    <%= f.check_box :firefox %>
  </p>
  <p>
    <%= f.label :internet_explorer %>
    <%= f.check_box :internet_explorer %>
  </p>
  <p>
  <%= f.label :Pass? %>
    <% if @manual.firefox == true && @manual.internet_explorer == true || @manual.status == true %>
    <%= f.check_box :status %>
    <% else %>
    <%= f.check_box :status, :disabled => true, :readonly => true %> <span class="info">(Must verify both FF and IE first in order to pass this Scenario.)</span>
    <% end %>
  </p>
  <p align="center">
    <%= f.submit 'Update' %>
    <%= link_to "Cancel", manuals_path %>
  </p>
<% end %>

<div align="center"><%= button_to ("DELETE", (@manual), :confirm => 'Are you sure?', :method => :delete) %></div>
