<div class="header-nav" align="right">
  <span id="add" style="display:none">Add New Scenario</span>
  <span id="reset" style="display:none">Retest All Scenarios</span>
  <span id="search-info" style="display:none">Select an iteration then Search</span>
  <%= link_to 'Automation Results', results_path %> | <%= link_to 'Metrics', failures_path %> | <%= link_to 'Logout', logout_path %>
</div>


<span id="reset-button" style="display:none"><%= link_to image_tag("/images/reset_scenarios.png", :border => 0, :height => 30, :width => 30), reset_scenarios_path, :confirm => 'This will reset all your current tests...sure about this?' %></span>

<div id="search">
  <%= render :partial => 'search' %> 
</div>

<div id="filters"> 
  <%= render :partial => 'filters' %>
</div>

<div class="manuals" id="pass">
  <%= render :partial => 'pass' %> 
</div>

<div class="manuals" id="fail">
  <%= render :partial => 'fail' %> 
</div>

<div class="manuals" id="blocked">
  <%= render :partial => 'blocked' %>
</div>

<div class="manuals" id="untested">
  <%= render :partial => 'untested' %>
</div>


<%= render :partial => 'js' %>
<%= render :partial => "jira_js" %>
<%= render :partial => "tags_js" %>