<div class="header-nav" align="right"><%= link_to 'Automation Results', results_path %> | <%= link_to 'Metrics', failures_path %> | <%= link_to 'Logout', logout_path %></div>
<span id="add-button"><%= link_to image_tag("/images/add.png", :border => 0, :title => "Add Scenario", :height => 30, :width => 30), new_manual_path %></span>
<span id="reset-button"><%= link_to image_tag("/images/reset_scenarios.png", :border => 0, :title => "Reset ALL Scenarios", :height => 30, :width => 30), reset_scenarios_path, :confirm => 'This will reset all your current tests...sure about this?' %></span>
<div class="manuals" id="fail">
  <table>
    <th align="left" width="5%"></th>
    <th align="left" width="20%">Tag</th>
    <th align="left" width="75%">Scenario</th>
    <% @manuals_fail.each do |manual| %>
      <tr>
      <td width="5%" align="left"><%= link_to image_tag("/images/delete.png", :border => 0, :confirm => 'Are you sure?', :method => :delete), manual %></td>
      <td width="20%"><%= manual.tag %></td>
      <td width="75%"><%= link_to(manual.scenario, edit_manual_path(manual)) %></td>
      </tr>  
    <% end %>
  </table>
</div>
<div class="manuals" id="pass">
  <table>
    <th align="left" width="5%"></th>
    <th align="left" width="20%">Tag</th>
    <th align="left" width="75%">Scenario</th>
    <% @manuals_pass.each do |manual| %>
      <tr>
      <td width="5%" align="left"><%= link_to image_tag("/images/delete.png", :border => 0, :confirm => 'Are you sure?', :method => :delete), manual %></td>
      <td width="20%"><%= manual.tag %></td>
      <td width="75%"><%= link_to(manual.scenario, edit_manual_path(manual)) %></td>
      </tr>  
    <% end %>
  </table>
</div>