<div class="header-nav" align="right">
  <span id="add" style="display:none">Add New Scenario</span><span id="reset" style="display:none">Retest All Scenarios</span>
  <%= link_to 'Automation Results', results_path %> | <%= link_to 'Metrics', failures_path %> | <%= link_to 'Logout', logout_path %>
</div>
<span id="add-button"><%= link_to image_tag("/images/add.png", :border => 0, :height => 30, :width => 30), new_manual_path %></span>
<span id="reset-button"><%= link_to image_tag("/images/reset_scenarios.png", :border => 0, :height => 30, :width => 30), reset_scenarios_path, :confirm => 'This will reset all your current tests...sure about this?' %></span>

<div class="manuals" id="fail">
  <table>
  <tr>
    <th align="left" width="5%"></th>
    <th align="left" width="20%">Tag</th>
    <th align="left" width="65%">Scenario</th>
    <th align="left" width="10%">Bug</th>
  </tr>
    <% @manuals_fail.each do |manual| %>
      <tr>
      <td width="5%" align="left"><%= link_to image_tag("/images/delete.png", :border => 0, :confirm => 'Are you sure?', :method => :delete), manual %></td>
      <td width="20%"><%= manual.tag %></td>
      <td width="65%"><%= link_to(manual.scenario, edit_manual_path(manual)) %></td>
      <td width="10%"><%= manual.bug %></td>
      </tr>  
    <% end %>
  </table>
</div>
<div class="manuals" id="pass">
  <table>
  <tr>
    <th align="left" width="5%"></th>
    <th align="left" width="20%">Tag</th>
    <th align="left" width="75%">Scenario</th>
  </tr>  
    <% @manuals_pass.each do |manual| %>
      <tr>
      <td width="5%" align="left"><%= link_to image_tag("/images/delete.png", :border => 0, :confirm => 'Are you sure?', :method => :delete), manual %></td>
      <td width="20%"><%= manual.tag %></td>
      <td width="65%"><%= link_to(manual.scenario, edit_manual_path(manual)) %></td>
      </tr>  
    <% end %>
  </table>
</div>

<%= render :partial => 'js' %>