<div align="right"><%= link_to 'Results', results_path %> | <%= link_to 'Logout', logout_path %></div>
<h1>Failures</h1>
<small><%= @activities_feature %> activities.feature</small><br/>

<small><%= @issue_admin_feature %> issue_admin.feature</small><br/>
<small><%= @issue_aging_feature %> issue_admin.feature</small><br/>
<small><%= @issue_bulk_delete_feature %> issue_bulk_delete.feature</small><br/>
<small><%= @issue_bulk_delete_by_creator_feature %> issue_bulk_delete_by_creator.feature</small><br/>
<small><%= @issue_custom_fields_feature %> issue_custom_fields.feature</small><br/>
<small><%= @issue_dashboard_feature %> issue_dashboard.feature</small><br/>
<small><%= @issue_email_feature %> issue_email.feature</small><br/>
<small><%= @issue_import_feature %> issue_import.feature</small><br/>
<small><%= @issue_line_item_searchability_feature %> issue_line_item_searchability.feature</small><br/>
<small><%= @issue_o_and_m_import_feature %> issue_o_and_m_import.feature</small><br/>
<small><%= @issue_override_email_feature %> issue_override_email.feature</small><br/>
<small><%= @issue_save_search_feature %> issue_save_search.feature</small><br/>
<small><%= @issue_search_feature %> issue_search.feature</small><br/>
<small><%= @issue_search_on_failed_emails_feature %> issue_search_on_failed_emails.feature</small><br/>
<small><%= @issue_simple_search_feature %> issue_simple_search.feature</small><br/>
<small><%= @issue_sort_feature %> issue_sort.feature</small><br/>
<small><%= @issue_type_security_feature %> issue_type_security.feature</small><br/>
<small><%= @issues_feature %> issues.feature</small><br/>
<small><%= @issues_and_file_uploads_feature %> issues_and_file_uploads.feature</small><br/>
<small><%= @issues_bulk_change_status_feature %> issues_bulk_change_status.feature</small><br/>
<small><%= @issues_bulk_emailing_feature %> issues_bulk_emailing.feature</small><br/>
<small><%= @issues_delete_feature %> issues_delete.feature</small><br/>
<small><%= @issues_manage_tab_feature %> issues_manage_tab.feature</small><br/>
<small><%= @item_feature %> item.feature</small><br/>
<small><%= @line_item_bulk_edits_feature %> line_item_bulk_edits.feature</small><br/>
<small><%= @line_item_bulk_updates_random_feature %> line_item_bulk_updates_random.feature</small><br/>
<small><%= @line_item_bulk_updates_to_closed_feature %> line_item_bulk_updates_to_closed.feature</small><br/>
<small><%= @line_item_bulk_updates_to_pending_feature %> line_item_bulk_updates_to_pending.feature</small><br/>
<small><%= @line_item_bulk_updates_to_resolved_feature %> line_item_bulk_updates_to_resolved.feature</small><br/>
<small><%= @line_item_search_feature %> line_item_search.feature</small><br/>
<small><%= @line_items_feature %> line_items.feature</small><br/>




