<div align="right"><%= link_to 'Results', results_path %> | <%= link_to 'Logout', logout_path %></div><br/>
<script type="text/javascript">
	$(function() {
		$('#date').datepicker({dateFormat: "yy-mm-dd"});
	});
	</script>
	
  <script type="text/javascript">
  	$(function() {
  	  new Highcharts.Chart({
  	    chart: {
  	      renderTo: "failures_chart",
  	      defaultSeriesType: 'bar',
  	      width: 600,
  	      height: 200,
  	    },
  	    title: {
  	      text: "Metrics"
  	    },
  	    
  	    subtitle: {
  	      text: "Drive both graph and columns by above Search Date"
	      },
  	    
  	    tooltip: {
  	      enabled: false
  	    },
  	    
  	    xAxis: {
	        allowDecimals: false,
  	      text: "datetime"
  	    },
  	    yAxis: {
	        allowDecimals: false,
  	      title: {
  	        text: "Number of failures"
  	      }
  	    },
  	    
  	    series: [{
          // pointInterval: <%= 1.day * 1000 %>,
          // pointStart: <%= 3.months.ago.to_i * 1000 %>,
          // data: [ 1, 3, 5, 3, 7, 2]
          data: <%= @total_failures %>,
          color: '#580000'
  	      
  	    }]
  	  });
  	});
  	</script>
  	<div align="center"><h1><%= @last_date_picked.to_date %></h1></div>
    <div class="demo" align="center">
      <% form_tag(failures_path, :method => "get") do %>  
        <%= label_tag(:date, "") %>
        <%= text_field_tag(:date) %>  
        <%= submit_tag("Search") %> 
      <% end %>   
    </div>
<br/>
<br/>    
<div id="failures_chart" align="center"></div>


<br/>

<script type="text/javascript">

  $(function() {
      $("table.demo").bind('sort', function() {
        $("tbody tr", this).not("td table *", this).each(function(i,item) {
          var c = ["even","odd"];
          $(this).removeClass(c[(i%2)+1]).addClass(c[i%2]);
        });
      }).makeSortable();
  });

</script>


<!-- <small><p align="center">(click column heading to sort)</p></small> -->
<table class="demo" cellspacing="0" cellpadding="0" align="center">
  <colgroup>
    <col/>
    <col/>
  </colgroup>
  <thead>
    <tr>
      <th><div># of Times</div></th>
      <th><div>Feature File</div></th>
    </tr>
  </thead>
  <tbody>
    <tr><td><small><%= @activities_feature %></td><td> activities.feature</small></td></tr>
    <tr><td><small><%= @admin_feature %></td><td>admin.feature</small></td></tr>
    <tr><td><small><%= @company_alerts_feature %></td><td>company_alerts.feature</small></td></tr>
    <tr><td><small><%= @company_address_feature %></td><td>company_address.feature</small></td></tr>
    <tr><td><small><%= @company_permissions_for_custom_fields_feature %></td><td>company_permissions_for_custom_fields.feature</small></td></tr>
    <tr><td><small><%= @company_registration_permissions_feature %></td><td>company_registration_permissions.feature</small></td></tr>
    <tr><td><small><%= @contact_alerts_feature %></td><td>contact_alerts.feature</small></td></tr>
    <tr><td><small><%= @contact_permissions_for_custom_fields_feature %></td><td>contact_permissions_for_custom_fields.feature</small></td></tr>
    <tr><td><small><%= @custom_field_dependencies_feature %></td><td>custom_field_dependencies.feature</small></td></tr>
    <tr><td><small><%= @dashboard_feature %></td><td>dashboard.feature</small></td></tr>
    <tr><td><small><%= @imports_feature %></td><td>imports.feature</small></td></tr>
    <tr><td><small><%= @issue_admin_feature %></td><td>issue_admin.feature</small></td></tr>
    <tr><td><small><%= @issue_aging_feature %></td><td>issue_aging.feature</small></td></tr>
    <tr><td><small><%= @issue_bulk_delete_feature %></td><td>issue_bulk_delete.feature</small></td></tr>
    <tr><td><small><%= @issue_bulk_delete_by_creator_feature %></td><td>issue_bulk_delete_by_creator.feature</small></td></tr>
    <tr><td><small><%= @issue_custom_fields_feature %></td><td>issue_custom_fields.feature</small></td></tr>
    <tr><td><small><%= @issue_dashboard_feature %></td><td>issue_dashboard.feature</small></td></tr>
    <tr><td><small><%= @issue_email_feature %></td><td>issue_email.feature</small></td></tr>
    <tr><td><small><%= @issue_import_feature %></td><td>issue_import.feature</small></td></tr>
    <tr><td><small><%= @issue_line_item_searchability_feature %></td><td>issue_line_item_searchability.feature</small></td></tr>
    <tr><td><small><%= @issue_new_feature %></td><td>issue_new.feature</small></td></tr>
    <tr><td><small><%= @issue_o_and_m_import_feature %></td><td>issue_o_and_m_import.feature</small></td></tr>
    <tr><td><small><%= @issue_override_email_feature %></td><td>issue_override_email.feature</small></td></tr>
    <tr><td><small><%= @issue_save_search_feature %></td><td>issue_save_search.feature</small></td></tr>
    <tr><td><small><%= @issue_search_feature %></td><td>issue_search.feature</small></td></tr>
    <tr><td><small><%= @issue_search_on_failed_emails_feature %></td><td>issue_search_on_failed_emails.feature</small></td></tr>
    <tr><td><small><%= @issue_simple_search_feature %></td><td>issue_simple_search.feature</small></td></tr>
    <tr><td><small><%= @issue_sort_feature %></td><td>issue_sort.feature</small></td></tr>
    <tr><td><small><%= @issue_type_security_feature %></td><td>issue_type_security.feature</small></td></tr>
    <tr><td><small><%= @issues_feature %></td><td>issues.feature</small></td></tr>
    <tr><td><small><%= @issues_and_file_uploads_feature %></td><td>issues_and_file_uploads.feature</small></td></tr>
    <tr><td><small><%= @issues_bulk_change_status_feature %></td><td>issues_bulk_change_status.feature</small></td></tr>
    <tr><td><small><%= @issues_bulk_emailing_feature %></td><td>issues_bulk_emailing.feature</small></td></tr>
    <tr><td><small><%= @issues_delete_feature %></td><td>issues_delete.feature</small></td></tr>
    <tr><td><small><%= @issues_manage_tab_feature %></td><td>issues_manage_tab.feature</small></td></tr>
    <tr><td><small><%= @item_feature %></td><td>item.feature</small></td></tr>
    <tr><td><small><%= @line_item_bulk_edits_feature %></td><td>line_item_bulk_edits.feature</small></td></tr>
    <tr><td><small><%= @line_item_bulk_updates_random_feature %></td><td>line_item_bulk_updates_random.feature</small></td></tr>
    <tr><td><small><%= @line_item_bulk_updates_to_closed_feature %></td><td>line_item_bulk_updates_to_closed.feature</small></td></tr>
    <tr><td><small><%= @line_item_bulk_updates_to_pending_feature %></td><td>line_item_bulk_updates_to_pending.feature</small></td></tr>
    <tr><td><small><%= @line_item_bulk_updates_to_resolved_feature %></td><td>line_item_bulk_updates_to_resolved.feature</small></td></tr>
    <tr><td><small><%= @line_item_search_feature %></td><td>line_item_search.feature</small></td></tr>
    <tr><td><small><%= @line_items_feature %></td><td>line_items.feature</small></td></tr>
    <tr><td><small><%= @login_feature %></td><td>login.feature</small></td></tr>
    <tr><td><small><%= @projects_feature %></td><td>projects.feature</small></td></tr>
    <tr><td><small><%= @registration_permissions_feature %></td><td>registration_permissions.feature</small></td></tr>
    <tr><td><small><%= @saved_search_feature%></td><td>saved_search.feature</small></td></tr>
    <tr><td><small><%= @security_issue_type_feature %></td><td>security_issue_type.feature</small></td></tr>
    <tr><td><small><%= @single_sign_on_feature %></td><td>single_sign_on.feature</small></td></tr>
    <tr><td><small><%= @stable_profile_links_feature %></td><td>stable_profile_links.feature</small></td></tr>
    <tr><td><small><%= @terms_of_service_feature %></td><td>terms_of_service.feature</small></td></tr>
    <tr><td><small><%= @workspace_feature %></td><td>workspace.feature</small></td></tr>
    <tr><td><small><%= @ws_conversations_feature %></td><td>ws_conversations.feature</small></td></tr>
    <tr><td><small><%= @ws_crud_feature %></td><td>ws_crud.feature</small></td></tr>
    <tr><td><small><%= @ws_events_feature %></td><td>ws_events.feature</small></td></tr>
    <tr><td><small><%= @ws_files_and_folders_feature %></td><td>ws_files_and_folders.feature</small></td></tr>
    <tr><td><small><%= @ws_members_feature %></td><td>ws_members.feature</small></td></tr>
    <tr><td><small><%= @ws_polls_feature %></td><td>ws_polls.feature</small></td></tr>
    <tr><td><small><%= @ws_settings_feature %></td><td>ws_settings.feature</small></td></tr>
  </tbody>
<table>




