<div align="right"><%= link_to 'Results', results_path %> | <%= link_to 'Logout', logout_path %></div>
<h1>Failures</h1>
<small>item.feature <%= @item_feature %></small><br/>
<small>activities.feature <%= @activities_feature %></small><br/>


<small>issue_admin.feature <%= @issue_admin_feature %></small><br/>
<small>issue_admin.feature <%= @issue_aging_feature %></small><br/>
<small>issue_bulk_delete.feature <%= @issue_bulk_delete_feature %></small><br/>
<small>issue_bulk_delete_by_creator.feature <%= @issue_bulk_delete_by_creator_feature %></small><br/>
<small>issue_custom_fields.feature <%= @issue_custom_fields_feature %></small><br/>
<small>issue_dashboard.feature <%= @issue_dashboard_feature %></small><br/>
<small>issue_email.feature <%= @issue_email_feature %></small><br/>
<small>issue_import.feature <%= @issue_import_feature %></small><br/>


<small>issue_search.feature <%= @issue_search_feature %></small><br/>